@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,300&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(75, 75, 78) ;
  color: rgb(204, 192, 58);
  margin: 0;
}